/* style toggle button */
#hider__toggle-button {
    height: 36px;
    margin: 6px 8px;
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
    border: none;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.08);
    color: #3c4043;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    z-index: 1;
    white-space: nowrap;
}

#hider__toggle-button:hover {
    background-color: rgba(128, 128, 128, 0.18);
}

#hider__toggle-button:active {
    background-color: rgba(128, 128, 128, 0.28);
}

@media (prefers-color-scheme: dark) {
    #hider__toggle-button {
        color: #e8eaed;
        background-color: rgba(255, 255, 255, 0.08);
    }

    #hider__toggle-button:hover {
        background-color: rgba(255, 255, 255, 0.14);
    }

    #hider__toggle-button:active {
        background-color: rgba(255, 255, 255, 0.20);
    }
}

/* remove box shadow from gmail toolbar  */
.G-atb::before {
    box-shadow: none !important;
}

/* add border to bottom of gmail toolbar to replace box shadow */
div[gh="tm"] {
    border-bottom: 1px solid #e5e5e5 !important;
}

@media (prefers-color-scheme: dark) {
    div[gh="tm"] {
        border-bottom-color: #5f6368 !important;
    }
}